.baseMarginTop, .main-header {
  margin-top: 10px; }

.baseMarginBottom, .main-header {
  margin-bottom: 10px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.css-transition-slideshow-nav, .main-slideshow-nav h2, .flexslider {
  -webkit-transition: all .2s ease-out .2s;
  -moz-transition: all .2s ease-out .2s;
  -o-transition: all .2s ease-out .2s;
  transition: all .2s ease-out .2s; }

.read-more {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 13px 3px 13px !important;
  display: inline-block;
  font-size: 14px !important;
  line-height: 18px !important; }
  .read-more:hover {
    text-decoration: none;
    color: #fff; }

.carousel-height {
  width: 100%;
  height: 300px;
  max-height: 300px; }

body {
  background: #f7f7f7; }

.container {
  background: #f7f7f7; }

.fa {
  color: #FF2D00;
  font-size: 16px; }

.main-header-contact-info {
  margin-left: 10px;
  line-height: 16px;
  font-size: 14px; }

.main-logo {
  display: inline-block; }
  .main-logo img {
    width: 350px;
    height: 100px; }

.main-search {
  width: 195px;
  background: #fff;
  border-radius: 5px;
  margin-top: 35px;
  border: 1px solid #000;
  height: 30px; }
  .main-search input {
    width: 140px;
    margin: 3px 0 0 10px;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: 'Monda' sans serif; }
  .main-search button {
    margin-right: 5px;
    background: #fff;
    border: none;
    outline: none; }
  .main-search .fa {
    font-size: 12px;
    color: #000; }

.main-nav {
  background: #d25527;
  height: 40px;
  border-bottom: 2px solid #FF2D00; }
  .main-nav ul {
    list-style: none;
    line-height: 40px;
    padding: 0; }
  .main-nav li {
    float: left; }
    .main-nav li a {
      color: #fff;
      padding: 0 20px 0 20px;
      font-family: 'Monda' sans serif; }
      .main-nav li a:hover {
        text-decoration: none;
        color: #000; }
      .main-nav li a:focus {
        text-decoration: none;
        color: #000; }
    .main-nav li .active {
      color: #000; }

.main-contact-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-family: 'Monda' sans serif;
  background: #FF2D00; }
  .main-contact-menu:hover {
    text-decoration: none;
    color: #fff; }
  .main-contact-menu .fa {
    color: #fff; }

.main-slideshow {
  width: 100%; }

.main-slideshow-nav {
  width: 20%;
  height: 130px;
  position: relative;
  padding: 0;
  overflow: hidden; }
  .main-slideshow-nav figure {
    overflow: hidden;
    position: absolute;
    z-index: 1; }
    .main-slideshow-nav figure img {
      height: 130px !important; }
  .main-slideshow-nav h2 {
    position: relative;
    height: 130px;
    margin: 0;
    padding-top: 40px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    color: #FF2D00;
    font-family: 'Monda' sans serif;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 25px; }
  .main-slideshow-nav:hover h2 {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding-top: 40px;
    z-index: 2;
    background: rgba(255, 45, 0, 0.7);
    color: #fff; }
  .main-slideshow-nav.active:hover h2 {
    cursor: default; }

.flexslider {
  margin: 0 !important;
  border: none !important; }

.flex-active-slide h2 {
  cursor: pointer;
  position: relative;
  margin: 0;
  padding-top: 40px;
  z-index: 2;
  background: rgba(255, 45, 0, 0.7);
  color: #fff; }

.main-slideshow-wrap {
  width: 100%;
  overflow: hidden;
  height: 310px; }

.main-footer {
  height: 50px;
  border-top: 1px solid #000; }
  .main-footer .connect-with-us {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px; }
    .main-footer .connect-with-us a {
      margin-right: 5px;
      margin-left: 5px; }
      .main-footer .connect-with-us a .fa {
        font-size: 28px;
        color: #000; }
  .main-footer .address {
    font-size: 11px;
    margin-top: 23px; }

.main-content-container {
  background: #fff; }
  .main-content-container .main-content {
    margin-top: 20px;
    min-height: 500px; }
    .main-content-container .main-content .breadcrumb li a {
      color: #000;
      font-family: 'Monda' sans serif; }
    .main-content-container .main-content .breadcrumb li .active {
      color: #FF2D00; }
    .main-content-container .main-content .main-content-text {
      text-align: justify; }

.main-google-map {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden; }

.side-menu {
  margin-bottom: 20px; }
  .side-menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
    .side-menu ul li {
      height: 42px;
      width: 100%; }
      .side-menu ul li a {
        position: relative;
        color: #FF2D00;
        padding: 10px;
        display: inline-block;
        height: 42px;
        width: 100%;
        border-bottom: 1px solid #000;
        font-family: 'Monda' sans serif;
        font-size: 13px; }
        .side-menu ul li a:hover {
          text-decoration: none;
          background: #FF2D00;
          color: #fff; }
        .side-menu ul li a .pull-left {
          width: 97%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
        .side-menu ul li a .fa {
          position: absolute;
          right: 5px;
          color: #FF2D00; }
      .side-menu ul li a:hover .fa {
        color: #fff; }
      .side-menu ul li .active {
        background: #FF2D00;
        color: #fff; }
        .side-menu ul li .active .fa {
          color: #fff; }

@media (max-width: 768px) {
  .main-header div {
    width: 100% !important;
    float: none !important;
    padding: 0; }
    .main-header div .main-logo {
      display: block;
      text-align: center; }
    .main-header div .text-right {
      text-align: center; }

  .main-search input {
    width: 85%; }

  .main-nav {
    height: 100%; }
    .main-nav div {
      width: 100% !important;
      float: none !important;
      padding: 0; }
    .main-nav nav ul li {
      float: none;
      display: block;
      text-align: center; }
      .main-nav nav ul li a {
        width: 100%;
        display: block; }

  	/* .main-slideshow-nav {
  		width: 50%;
  		height: 120px;
  
  		figure {
  			width: 100%;
  			height: 120px;
  			overflow: hidden;
  
  			img { 
  				width: 100%;
  				height: 100%;
  			}
  		}
  
  		h2 {
  			height: 120px;
  			line-height: 1;
  			padding-top: 50px;
  			font-size: 20px;
  		}
  
  		&.active h2 {
  			line-height: 1;
  			padding-top: 50px;
  			font-size: 20px;
  		}
  
  		&:hover h2 {
  			line-height: 1;
  			padding-top: 50px;
  			font-size: 20px;
  		}
  
  		.text-small {
  			height: 120px;
  			padding-top: 50px;
  			font-size: 20px;
  		}
  
  		&.active .text-small {
  			padding-top: 50px;
  			font-size: 20px;
  		}
  
  		&:hover .text-small {
  			padding-top: 50px;
  			font-size: 20px;
  		}
  	}
  
  	.main-slideshow-nav:nth-child(5) {
  		width: 100%;
  	} */
  .main-footer div {
    width: 100% !important;
    float: none !important;
    padding: 0;
    text-align: center;
    display: block; }
  .main-footer .address {
    text-align: center;
    display: block; } }
@media (min-width: 768px) and (max-width: 992px) {
  	/* .main-slideshow-nav {
  		width: 250px;
  	}
  
  	.main-slideshow-nav:nth-child(4), .main-slideshow-nav:nth-child(5) {
  		width: 375px;
  
  		figure {
  			width: 100%;
  
  			img {
  				width: 100%;
  
  			}
  		}
  	} */ }
@media (min-width: 992px) and (max-width: 1200px) {
  	/* .main-slideshow-nav {
  		width: 194px;
  
  		h2 {
  			font-size: 18px;
  		}
  
  		.text-small {
  			font-size: 19px
  		}
  	} */ }
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    width: 100%; }

  /* .main-slideshow-nav {
  	width: 20%;
  } */ }

/*# sourceMappingURL=styles.css.map */
