.side-menu {
	margin-bottom: 20px;
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			height: 42px;
			a {
				color: $orange;
				padding: 10px;
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid $black;
				font-family: 'Monda' sans serif;

				&:hover {
					text-decoration: none;
					background: $orange;
					color: $white;
				}

				.fa { color: $orange; }
			}

			a:hover .fa { color: $white; }

			.active {
				background: $orange;
				color: $white;

				.fa { color: $white; }
			}


		}
	}
}

.main-content-container {
	background: $white;
	
	.main-content {
		margin-top: 20px;
		min-height: 500px;

		.breadcrumb {
			li {
				a {
					color: $black;
					font-family: 'Monda' sans serif;
				}

				.active {
					color: $orange;
				}
			}
		}
	}
	
}