.side-menu {
	margin-bottom: 20px;
	ul {
		list-style: none;
		padding: 0;
		margin-bottom: 0;

		li {
			height: 42px;
			width: 100%;
			
			a {
				position: relative;
				color: $orange;
				padding: 10px;
				display: inline-block;
				height: 42px;
				width: 100%;
				border-bottom: 1px solid $black;
				font-family: 'Monda' sans serif;
				font-size: 13px;

				&:hover {
					text-decoration: none;
					background: $orange;
					color: $white;
				}

				.pull-left {
					width: 97%;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}

				.fa { 
					position: absolute;
					right: 5px;;
					color: $orange;
				}
			}

			a:hover .fa { color: $white; }

			.active {
				background: $orange;
				color: $white;

				.fa { color: $white; }
			}


		}
	}
}