@import 'variables';

body {}

.container {
	background: $white;
}

.fa { color: $orange; font-size: 16px; }

.main-header {
	
}

.main-header-contact-info {
	margin-left: 10px;
	line-height: 16px;
	font-size: 14px;
}

.main-logo {
	display: inline-block;

	img {
		width: $logo-width;
		height: $logo-height;

	}
}

@import 'search';
@import 'main_menu';
@import 'main_slideshow';
@import 'footer';
@import 'about';
@import 'contact';
@import 'media-queries';
